@model TrashCity.Models.EmployeeModel


<div class="jumbotron">
    <h1>
        Your Trash Collector Portal
    </h1>
    <div>
        @{ var employeeName = Model.EmployeeFirstName;}
        <h3>Hello @employeeName</h3>
    </div>


</div>