@model IEnumerable<TrashCity.Models.CustomerModel>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        @{ var user = HttpContext.Current.User.Identity.Name; }

            Hello @user
    </h2>
    <br />
    <br />
    <div>
        <h4>
            Schedule the day of the week you'd like to recieve trash collection            
        </h4>
    </div>

</body>
</html>
