@model TrashCity.Models.CustomerModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>
        @{ var user = HttpContext.Current.User.Identity.Name; }

            Hello @user
    </h2>
        
        <div>
            <h3>Edit Collection Day: <br /></h3>
           @Html.ActionLink("Edit Collection Day", "SetCollectionDay", routeValues: new { id = Model.CustomerId }, htmlAttributes: new { title = "Editerino", @class = "btn btn-default btn-xs" })
        </div>
    <br />
    <br />
    <div>        
        
    </div>

</body>
</html>
