@model TrashCity.Models.CustomerModel



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <br />
    <h1>
        Your Trash Collection Portal
    </h1>
    <br />
    <h3>
        @{ var userName = Model.CustomerFirstName;}
        @{ var user = HttpContext.Current.User.Identity.Name; }

            Hello! @userName
    </h3>
        <br /><br />
        <div>
            @{  
                var collectionDay = Model.CollectionDay;
            }
            <h4>Edit Collection Day: <br /></h4>
            <h4>(Currently set to: @collectionDay)</h4>
            
           @Html.ActionLink("Edit", "SetCollectionDay", routeValues: new { id = Model.CustomerId }, htmlAttributes: new { title = "Editerino", @class = "btn btn-default btn-xs" })
        </div>
        <div>
            <h4><br /> 
                Schedule a vacation: (coming soon)
            </h4>
        </div>
    <br />
    <br />
    <div>        
        
    </div>

</body>
</html>
