@model TrashCity.Models.CustomerModel



    <div class="jumbotron">        
        <h1>
            Your Trash Collection Portal
        </h1>
        <br />
        <h3>
            @{ var userName = Model.CustomerFirstName;}
            Hello! @userName
        </h3>
    </div>     
    
    <br /><br />
    <div class="row">
        <div class="col-md-4">
        @{
            var collectionDay = Model.CollectionDay;
        }
        <h4>Edit Collection Day: <br /></h4>
        @{ if (collectionDay != null)
            {
        <h4>(Currently set to: <font color="red">@collectionDay)</font></h4>
            }
            else
            {
        <h4>Please set your collection day.</h4>     
            }
          }
        @Html.ActionLink("Edit", "SetCollectionDay", routeValues: new { id = Model.CustomerId }, htmlAttributes: new { title = "Editerino", @class = "btn btn-default btn-xs" })
        </div>
        <div class="col-md-4">
            <h4>
                Schedule a temporary pickup day change<br />
            </h4><br /> 
                
                @Html.ActionLink("Edit", "Schedule",  routeValues: new { id = Model.CustomerId }, htmlAttributes: new { title = "Editerino", @class = "btn btn-default btn-small" })
            
        </div>
        <div class="col-md-4">
            <h4>                
                Schedule a vacation: (under construction)
                @*@Html.ActionLink()*@
            </h4>
        </div>
    </div>
    
    <br />
    <hr />
    <br />
    <div>

    </div>


@section Scripts
    {
    <script type="text/javascript">
        $(function ()
        {
            $('#datetimepicker1').datetimepicker(
                {
                    format: 'MM/DD/YYYY'
                });
        });
            </script>
    }

