@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
    <h1> Trashy! Your Personal Trash Collection Service</h1>
    </center>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get started today!</h2>
        <p>
            
            It's as easy as a couple of button clicks! Sign up now to start receiving weekly pickups.
                       
        </p>
        @Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Editerino", @class = "btn btn-default btn-large btn-success" })
    </div>
    <div class="col-md-4">
        <h2>Your schedule, your rules!</h2>
        <p>The days of waiting on the city to pick up your overflowing trash bins is in the past! With Trashy! you're able to schedule for weekly pickups and adjust your pick up times on the fly, how awesome is that?!</p>        
    </div>
    <div class="col-md-4">
        <h2>Reliability!? Check.</h2>
        <p>Trashy! won't let you down. With our nationwide services and well-trained staff, we make our competitors look like garbage (pun intended).</p>
        
    </div>
</div>